<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather Forecast</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <div class="title-bar">
        <h1>Weather Forecast</h1>
    </div>
   
    <form action="{% url 'add_location' %}" method="post">
        {% csrf_token %}
        <label for="name">Add Location:</label>
        <input type="text" id="name" name="name" required>
        <button type="submit">Add</button>
    </form>
    
   
    {% for location in locations %}
        <button class="locationButton" data-location="{{ location.name }}">{{ location.name }}</button>
    {% endfor %}

    <h1>4 Day Forecast</h1>

    <div id="forecastContainer"></div>
    {% load static %}
    <script src="{% static 'js/main.js' %}"></script>
</body>
</html>
